section #material-info,
section #mask-info{
	display: flex;
	margin-bottom: 4em;
}

section #mask-info .img-preview,
section #material-info .img-preview{
	width: 50%;
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 0.3em 0 0 0.3em;
}

section #mask-info dl,
section #material-info dl{
	float: left;
	width: 50%;
	margin: 0;
	box-sizing: border-box;
	background: #F0F0F0;
	border-radius: 0 0.3em 0.3em 0;
}

section #mask-info dl dt,
section #material-info dl dt,
section #mask-info dl dd,
section #material-info dl dd{
	padding: 1em;
	width: 50%;
	margin: 0;
	box-sizing: border-box;
	float: left;
	border-bottom: 0.1em solid #FFF
}

section #mask-info dl dt,
section #material-info dl dt{
	padding-left: 2em;
}

section #mask-info dl dt:last-of-type,
section #material-info dl dt:last-of-type,
section #mask-info dl dd:last-of-type,
section #material-info dl dd:last-of-type{
	border-bottom: none;
}

ul.actions li{
	width: 50%;
}