header{
	width: 100%;
	padding: 1em 0;
	background: #444;
	/*background: #a3e1c7;*/
	overflow: auto;
}

header form,
header a{
	box-sizing: border-box;
	float: left;
	text-align: center;
}

header a {
	width: 10%;
}

header form {
	width: 80%;
	padding: 0 25%;
}

header form input{
	float: left;
}

header form #search{
	background: #555;*/
	/*background: #81bba3;*/
	color: #FFF;
	width: 90%;
	box-sizing: border-box;
}

header form #search:focus{
	background: #FFF;
	color: #111;
	transition: background 0.3s ease;
}

header form #submit{
	padding: 0.75em 0 0.75em 0;
	height: 2.5em;
	background: rgba(0, 0, 0, 0);
	width: 10%;
	box-sizing: border-box;
}

#logo, #avatar{
	height: 2.5em;
}


