ul.stats,
ul.actions,
ul.info,
ul.materials {
	list-style: none;
	width: 100%;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	border-radius: 0.3em;
	text-align: center;
}

ul.account{
	padding: 0;
	box-sizing: border-box;
}

ul.account li{
	display: inline-block;
	margin: 0 1em 1em 0;
}

ul.account li:last-of-type{
	margin: 0;
}

ul.stats li,
ul.actions li,
ul.info li,
ul.materials li{
	padding: 1em 2em;
	box-sizing: border-box;
}

ul.actions li,
ul.account li {
	padding: 0;
}

ul.account li{
	margin: 0 1em 1em 0;
	display: block;
}

ul.actions li a,
ul.account li a{
	padding: 1em 2em;
	box-sizing: border-box;
	display: block;
}

ul.account li a{
	border-radius: 0.3em;
}

ul.stats{
	background: #F0F0F0;
}

ul.actions,
ul.account li a {
	background: #CCC;
}

ul.actions li a:hover,
ul.account li a:hover {
	background: #F0F0F0;
}

/* pagination table style */

ul.pagination {
	padding: 0;
	text-align: center;
}

ul.pagination li {
	display: inline-block;
	padding: 0 1em;
}

ul.pagination li a img{
	width: 2em;
	vertical-align: middle;
}

ul.pagination li.count{
	font-size: 1em;
	color: #B9B9B9;
}



