ul.stats li,
ul.actions li{
	width: 25%;
}

ol li{
	display: block;
}

.nodata{
	text-align: center;
	font-size: 1em;
	color: #AAA;
	padding: 2em;
	width: 100%;
	background: #F0F0F0;
	box-sizing: border-box;
	border-radius: 0.3em;
	margin-bottom: 4em;
}
